USE [northwind]
GO
/****** Object:  StoredProcedure [dbo].[Sequences_Employees]    Script Date: 2021-04-28 3:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   ALTER PROCEDURE [dbo].[Sequences_Employees]
      @nombre INT
   AS
   BEGIN
	DECLARE @cnt INT = 0;
	DECLARE @result TABLE(ID INT);

	WHILE @cnt < @nombre

		BEGIN
			Insert @result select (NEXT VALUE FOR seq)
		   SET @cnt = @cnt + 1;
		END;
 
    select ID FROM @result
END;